{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Registrierung
                </h2>

                <p class="lead">
                    Registriere dir hier dein Konto auf Fahrradstadt.Hamburg.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <form method="post" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">
                    {% if form_errors(form.email) %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group row">
                        <label for="fos_user_registration_form_email" class="col-12 col-form-label">
                            Deine E-Mail-Adresse
                        </label>

                        <div class="col-12">
                            {{ form_widget(form.email, { attr: { class: 'form-control form-control-lg'} } ) }}
                        </div>
                    </div>

                    {% if form_errors(form.username) %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {{ form_errors(form.username) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group row">
                        <label for="username" class="col-12 col-form-label">
                            Dein Benutzername
                        </label>

                        <div class="col-12">
                            {{ form_widget(form.username, { attr: { class: 'form-control form-control-lg'} } ) }}
                        </div>
                    </div>

                    {% if form_errors(form.plainPassword.first) %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group row">
                        <label for="fos_user_registration_form_plainPassword_first" class="col-12 col-form-label">
                            Dein Kennwort
                        </label>

                        <div class="col-12">
                            {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control form-control-lg'} } ) }}
                        </div>
                    </div>

                    {% if form_errors(form.plainPassword.second) %}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group row">
                        <label for="fos_user_registration_form_plainPassword_second" class="col-12 col-form-label">
                            Kennwort wiederholen
                        </label>

                        <div class="col-12">
                            {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control form-control-lg'} } ) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Registrieren" />
                        </div>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
