{% if luft is defined %}
    <div class="card mt-2">
        <div class="card-body text-center">
            <h4 class="card-title">
                Luft in {{ getCity().name }}
            </h4>

            <p class="card-text">
                Aktuelle Schadstoffwerte aus Hamburg
            </p>
        </div>

        <div class="list-group list-group-flush">
            {% for data in luft.dataList %}
                {% if data.level == 1 %}
                    {% set levelClass = 'list-group-item-success' %}
                {% endif %}

                {% if data.level == 2 %}
                    {% set levelClass = 'list-group-item-warning' %}
                {% endif %}

                {% if data.level == 3 %}
                    {% set levelClass = 'list-group-item-danger' %}
                {% endif %}

                {% if data.level == 4 %}
                    {% set levelClass = 'list-group-item-dark' %}
                {% endif %}

                <a href="https://luft.jetzt/{{ data.stationCode }}" class="list-group-item list-group-item-action {{ levelClass }}">
                    {{ data.pollutant }}: {{ data.value }} {{ data.unit }}
                    <br />
                    <span class="text-muted">{{ data.stationName }}</span>
                </a>
            {% endfor %}
        </div>

        <div class="card-body text-center">

            <p class="card-text">
                <small>
                    Daten gemessen vom Umweltbundesamt, aufbereitet von <a href="https://luft.jetzt/">Luft<sup>jetzt</sup></a>
                </small>
            </p>
        </div>
    </div>
{% endif %}
