<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav container">
            {% if app.session.get('city').showMenuMission %}
            <a class="nav-item nav-link" href="{{ path('mission') }}">
                Mission
            </a>
            {% endif %}

            <a class="nav-item nav-link" href="{{ path('archive') }}">
                Archiv
            </a>

            {% if app.session.get('city').showMenuUpload %}
            <a class="nav-item nav-link" href="{{ path('photo_upload') }}">
                Hochladen
            </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item nav-link" href="{{ path('sonata_admin_dashboard') }}">
                Admin
            </a>
            {% endif %}

            {% if app.user %}
            <a class="nav-item nav-link" href="{{ path('fos_user_security_logout') }}">
                Logout
            </a>
            {% else %}
            <a class="nav-item nav-link" href="{{ path('fos_user_security_login') }}">
                Login
            </a>
            {% endif %}
        </div>
    </div>
</nav>
