<div class="card">
    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
        <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
    </a>
    <div class="card-block">
        {% if photo.highlighted %}
            <span class="badge badge-info float-right" data-toggle="tooltip" data-placement="bottom" title="Dieses Foto wird eine Zeit lang hervorgehoben.">hervorgehoben</span>
        {% endif %}

        {% if photo.sponsored %}
            <span class="badge badge-warning float-right" data-toggle="tooltip" data-placement="bottom" title="Dieser Beitrag enthält einen oder mehrere gesponserte Links.">gesponsert</span>
        {% endif %}
        {% if photo.affiliated %}
            <span class="badge badge-danger float-right" data-toggle="tooltip" data-placement="bottom" title="Bei diesem Beitrag handelt es sich um eine Werbeanzeige.">Anzeige</span>
        {% endif %}

        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
            <h4 class="card-title">
                {{ photo.title }}
            </h4>
        </a>

        <p class="card-text">
            {{ photo.description|markdown }}
        </p>
    </div>
    <div class="card-footer text-muted" title="hinzugefügt am {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr von {{ photo.user.displayname }}">
        aufgenommen am {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr von {{ photo.user.displayname }}
    </div>
</div>