{% if userFavorites is defined and userFavorites[photo.id] is defined %}
    {% set starred = true %}
{% else %}
    {% set starred = false %}
{% endif %}

<div class="card photo{% if photo.location %} has-location{% endif %}{% if not photo.enabled %} card-outline-danger{% endif %}" data-photo-id="{{ photo.id }}" data-latitude="{{ photo.latitude }}" data-longitude="{{ photo.longitude }}" data-location="{{ photo.location }}">
    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
        <img class="img-fluid card-img-top" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
    </a>

    {% if photo.highlighted or photo.sponsored or photo.affiliated or photo.source or photo.title or photo.description %}
    <div class="card-block">
        {% if photo.highlighted %}
            <span class="badge badge-info float-right" data-toggle="tooltip" data-placement="bottom" title="Dieses Foto wird eine Zeit lang hervorgehoben.">hervorgehoben</span>
        {% endif %}

        {% if photo.sponsored %}
            <span class="badge badge-warning float-right" data-toggle="tooltip" data-placement="bottom" title="Dieser Beitrag enthält einen oder mehrere gesponserte Links.">gesponsert</span>
        {% endif %}

        {% if photo.affiliated %}
            <span class="badge badge-danger float-right" data-toggle="tooltip" data-placement="bottom" title="Bei diesem Beitrag handelt es sich um eine Werbeanzeige.">Anzeige</span>
        {% endif %}

        {% if photo.source %}
            <small class="text-muted float-right">
                {{ photo.source }}
            </small>
        {% endif %}

        {% if photo.title %}
        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
            <h4 class="card-title">
                {{ photo.title }}
            </h4>
        </a>
        {% endif %}

        {% if photo.description %}
        <p class="card-text">
            {{ photo.description|markdown }}
        </p>
        {% endif %}
    </div>
    {% endif %}

    <div class="card-footer text-muted">
        {% if photo.user.profilePictureUrl %}
        <img src="{{ photo.user.profilePictureUrl }}" class="img-profile d-block float-left mr-1" />
        {% endif %}

        <div class="photo-meta float-left">
            <small class="align-middle">
                <strong>
                    {{ photo.user.displayname }}
                </strong>

                {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr
                {% if photo.location %}
                <address>
                    <a href="{{ path('search') }}?query={{ photo.location }}">{{ photo.location }}</a>
                </address>
                {% endif %}
            </small>
        </div>

        <div class="float-right">
            {% if app.user and (app.user == photo.user or is_granted('ROLE_ADMIN')) %}
            <div class="dropdown dropup" style="display: inline;">
                <button class="btn btn-outline-secondary btn-sm dropup" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('rotate_photo', { photoId: photo.id }) }}">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                        Foto drehen
                    </a>
                    <a class="dropdown-item" href="{{ path('edit_photo', { photoId: photo.id }) }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Text bearbeiten
                    </a>
                    <span class="dropdown-item" data-toggle="modal" data-target="#location-modal">
                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                        Ort festlegen
                    </span>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('favorite_photo', { photoId: photo.id }) }}" class="favorite-star btn btn-outline-secondary btn-sm">
            {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-secondary btn-sm">
            {% endif %}

                {% if starred %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endif %}

                <span class="favorite-counter">
                    {{ photo.favorites|length }}
                </span>
            </a>

            <div class="btn-group btn-group-sm">
                <a href="{{ path('show_photo', { slug: photo.slug }) }}#comments" class="btn btn-outline-secondary">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    {{ photo.comments|length }}
                </a>

                {% if is_granted('ROLE_USER') %}
                <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#comment-modal">
                {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-secondary">
                {% endif %}
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
