<div class="card photo" data-photo-id="{{ photo.id }}">
    <div class="card-header">
        <strong>
            {{ photo.user.displayname }}
        </strong>

        <span class="float-right">
            <a href="{{ path('favorite_photo', { photoId: photo.id }) }}" class="favorite-star btn btn-outline-secondary btn-sm">
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </a>

            <a href="#" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#comment-modal">
                <i class="fa fa-comment" aria-hidden="true"></i>
                {{ photo.comments|length }}
            </a>
        </span>


    </div>

    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
        <img class="img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
    </a>

    <div class="card-block">
        {% if photo.highlighted %}
            <span class="badge badge-info float-right" data-toggle="tooltip" data-placement="bottom" title="Dieses Foto wird eine Zeit lang hervorgehoben.">hervorgehoben</span>
        {% endif %}

        {% if photo.sponsored %}
            <span class="badge badge-warning float-right" data-toggle="tooltip" data-placement="bottom" title="Dieser Beitrag enthält einen oder mehrere gesponserte Links.">gesponsert</span>
        {% endif %}
        {% if photo.affiliated %}
            <span class="badge badge-danger float-right" data-toggle="tooltip" data-placement="bottom" title="Bei diesem Beitrag handelt es sich um eine Werbeanzeige.">Anzeige</span>
        {% endif %}

        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
            <h4 class="card-title">
                {{ photo.title }}
            </h4>
        </a>

        <p class="card-text">
            {{ photo.description|markdown }}
        </p>
    </div>

    <div class="card-footer text-muted"  title="hinzugefügt am {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr von {{ photo.user.displayname }}">
        <span class="float-right">
            aufgenommen am {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr
        </span>
    </div>
</div>
