{% if userFavorites is defined and userFavorites[photo.id] is defined %}
    {% set starred = true %}
{% else %}
    {% set starred = false %}
{% endif %}

<div class="card photo" data-photo-id="{{ photo.id }}">
    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
        <img class="img-fluid card-img-top" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
    </a>

    <div class="card-block">
        {% if photo.highlighted %}
            <span class="badge badge-info float-right" data-toggle="tooltip" data-placement="bottom" title="Dieses Foto wird eine Zeit lang hervorgehoben.">hervorgehoben</span>
        {% endif %}

        {% if photo.sponsored %}
            <span class="badge badge-warning float-right" data-toggle="tooltip" data-placement="bottom" title="Dieser Beitrag enthält einen oder mehrere gesponserte Links.">gesponsert</span>
        {% endif %}

        {% if photo.affiliated %}
            <span class="badge badge-danger float-right" data-toggle="tooltip" data-placement="bottom" title="Bei diesem Beitrag handelt es sich um eine Werbeanzeige.">Anzeige</span>
        {% endif %}

        {% if photo.source %}
            <small class="text-muted float-right">
                {{ photo.source }}
            </small>
        {% endif %}

        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
            <h4 class="card-title">
                {{ photo.title }}
            </h4>
        </a>

        <p class="card-text">
            {{ photo.description|markdown }}
        </p>
    </div>

    <div class="card-footer text-muted">
        {% if photo.user.profilePictureUrl %}
        <img src="{{ photo.user.profilePictureUrl }}" class="img-profile" />
        {% endif %}

        <small>
            <strong>
                {{ photo.user.displayname }}
            </strong>

            {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr
        </small>

        <div class="float-right">
            <div class="dropdown dropup" style="display: inline;">
                <button class="btn btn-outline-secondary btn-sm dropup" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                        Foto drehen
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Text bearbeiten
                    </a>
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
            <a href="{{ path('favorite_photo', { photoId: photo.id }) }}" class="favorite-star btn btn-outline-secondary btn-sm">
            {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-secondary btn-sm">
            {% endif %}

                {% if starred %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endif %}

                <span class="favorite-counter">
                    {{ photo.favorites|length }}
                </span>
            </a>

            <div class="btn-group btn-group-sm">
                <a href="{{ path('show_photo', { slug: photo.slug }) }}#comments" class="btn btn-outline-secondary">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    {{ photo.comments|length }}
                </a>

                {% if is_granted('ROLE_USER') %}
                <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#comment-modal">
                {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-secondary">
                {% endif %}
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
