{% if userFavorites is defined and userFavorites[photo.id] is defined %}
    {% set starred = true %}
{% else %}
    {% set starred = false %}
{% endif %}

<div class="card photo" data-photo-id="{{ photo.id }}">
    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
        <img class="img-fluid card-img-top" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
    </a>

    <div class="card-block">
        {% if photo.highlighted %}
            <span class="badge badge-info float-right" data-toggle="tooltip" data-placement="bottom" title="Dieses Foto wird eine Zeit lang hervorgehoben.">hervorgehoben</span>
        {% endif %}

        {% if photo.sponsored %}
            <span class="badge badge-warning float-right" data-toggle="tooltip" data-placement="bottom" title="Dieser Beitrag enthält einen oder mehrere gesponserte Links.">gesponsert</span>
        {% endif %}
        {% if photo.affiliated %}
            <span class="badge badge-danger float-right" data-toggle="tooltip" data-placement="bottom" title="Bei diesem Beitrag handelt es sich um eine Werbeanzeige.">Anzeige</span>
        {% endif %}

        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
            <h4 class="card-title">
                {{ photo.title }}
            </h4>
        </a>

        <p class="card-text">
            {{ photo.description|markdown }}
        </p>

        <p class="card-text">
            <small class="text-muted" title="hinzugefügt am {{ photo.displayDateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.displayDateTime|date('H:i', 'Europe/Berlin') }} Uhr von {{ photo.user.displayname }}">
                aufgenommen am {{ photo.dateTime|date('d.m.Y', 'Europe/Berlin') }} um {{ photo.dateTime|date('H:i', 'Europe/Berlin') }} Uhr
            </small>
        </p>
    </div>

    <div class="card-footer text-muted">
        <span>
            veröffentlicht von {{ photo.user.displayname }}
        </span>

        <span class="float-right">
            {% if app.user %}
            <a href="{{ path('favorite_photo', { photoId: photo.id }) }}" class="favorite-star btn btn-outline-secondary btn-sm">
            {% else %}
            <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-outline-secondary btn-sm">
            {% endif %}
                {% if starred %}
                <i class="fa fa-star" aria-hidden="true"></i>
                {% else %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endif %}
                <span class="favorite-counter">
                    {{ photo.favorites|length }}
                </span>
            </a>

            {% if app.user %}
            <a href="#" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#comment-modal">
            {% else %}
            <a href="{{ path('hwi_oauth_connect') }}" class="btn btn-outline-secondary btn-sm">
            {% endif %}
                <i class="fa fa-comment" aria-hidden="true"></i>
                {{ photo.comments|length }}
            </a>
        </span>
    </div>
</div>
