{% if getCity().imageName %}
    <div class="row mb-3">
        <div class="col-12">
            <a href="{{ path('frontpage') }}">
                <img class="mx-auto d-block" src="{{ vich_uploader_asset(getCity(), 'imageFile')|imagine_filter('logo') }}" alt="{{ getCity().title }}" />
            </a>
        </div>
    </div>
{% endif %}

<div class="card">
    {% if getCity().title or getCity().slogan %}
    <div class="card-body text-center">
        <h4 class="card-title">
            {{ getCity().title }}
        </h4>

        {% if getCity().slogan %}
        <p class="card-text">
            {{ getCity().slogan }}
        </p>
        {% endif %}
    </div>
    {% endif %}

    {% if commentList|length > 0 %}
    <div class="card-body">
        <h5>
            Neuste Kommentare
        </h5>

        <ul>
            {% for comment in commentList %}
                <li>
                    <a href="{{ path('show_photo', { slug: comment.photo.slug }) }}#comments">
                        {{ comment.user.username }} bei {{ comment.photo.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if favouriteList|length > 0 %}
    <div class="card-body">
        <h5>
            Neuste Sternchen
        </h5>

        <ul>
            {% for favourite in favouriteList %}
                <li>
                    <a href="{{ path('show_photo', { slug: favourite.photo.slug }) }}#comments">
                        {{ favourite.user.username }} bei {{ favourite.photo.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
