<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {% if photoList|length == 1 %}
        {% set photo = photoList|first %}
        <meta name="description" content="{{ photo.description[:155] }}" />

        <meta property="fb:app_id" content="216780188685195" />
        <meta property="og:title" content="{{ photo.title }} &mdash; Fahrradstadt Hamburg" />
        <meta property="og:type" content="Website" />
        <meta property="og:description" content="{{ photo.description[:155] }}" />
        <meta property="og:url" content="https://fahrradstadt.hamburg" />
        <meta property="og:locale" content="de_DE" />
        <meta property="og:site_name" content="fahrradstadt.hamburg" />
        <meta property="og:image" content="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('preview') }}" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@calderacc">
        <meta name="twitter:creator" content="@calderacc">
        <meta name="twitter:title" content="{{ photo.title }} &mdash; Fahrradstadt Hamburg" />
        <meta name="twitter:description" content="{{ photo.description[:155] }}" />
        <meta name="twitter:image" content="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('preview') }}" />
        {% endif %}

        <title>Fahrradstadt Hamburg</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/fahrradstadt.css') }}" />
    </head>

    <body>
        <div class="container">
            <div class="row mt-3">
                <div class="col-12">
                    <a href="{{ path('frontpage') }}">
                        <img class=" mx-auto d-block" src="{{ asset('bundles/app/images/logo/logo-300.png') }}" alt="Logo Fahrradstadt Hamburg" />
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-10 offset-md-1">
                    {% for photo in photoList %}
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card mb-3">
                                <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('standard') }}" alt="{{ photo.title }}" />
                                <div class="card-block">
                                    {% if photo.highlighted %}
                                        <span class="badge badge-info float-right">hervorgehoben</span>
                                    {% endif %}
                                    {% if photo.sponsored %}
                                        <span class="badge badge-warning float-right">gesponsert</span>
                                    {% endif %}
                                    {% if photo.affiliated %}
                                        <span class="badge badge-danger float-right">Anzeige</span>
                                    {% endif %}

                                    <a href="{{ path('show_photo', { slug: photo.slug }) }}">
                                        <h4 class="card-title">
                                            {{ photo.title }}
                                        </h4>
                                    </a>

                                    <p class="card-text">
                                        {{ photo.description }}
                                    </p>

                                    <p class="card-text">
                                        <small class="text-muted">
                                            hinzugefügt am {{ photo.dateTime|date('d.m.Y') }} um {{ photo.dateTime|date('H:i') }} Uhr von {{ photo.user.displayname }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {{ include('AppBundle:Includes:footer.html.twig') }}
        </div>

        <script src="{{ asset('bundles/app/js/jquery/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap/bootstrap.min.js') }}"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            // tracker methods like "setCustomDimension" should be called before "trackPageView"
            _paq.push(["setCookieDomain", "*.fahrradstadt.hamburg"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.caldera.cc/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '12']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//piwik.caldera.cc/piwik.php?idsite=12&rec=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </body>
</html>
