{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 offset-md-1">
            <div class="card-columns">
                {% for photo in photoList %}
                <div class="card"><a href="{{ path('show_photo', { slug: photo.slug }) }}">
                        <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('preview') }}" alt="{{ photo.title }}" />
                    </a>
                    <div class="card-block">
                        <a href="{{ path('show_photo', { slug: photo.slug }) }}">
                            <h4 class="card-title">
                                {{ photo.title }}
                            </h4>
                        </a>
                        <p class="card-text">
                            {{ photo.description|length > 150 ? photo.description|slice(0, 150) ~ '…' : photo.description  }}
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ photo.dateTime|date('d.m.Y H:i') }} Uhr von {{ photo.user.displayname }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
