{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>
                Statistiken
            </h1>

            <p class="lead">
                War das schon die Fahrradstadt oder lag’s am Wetter? Hier kannst du das hanseatische Wetter mit den Daten des Fahrradzählers an der Gurlittinsel vergleichen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Datum
                        </th>

                        <th>
                            Tiefsttemperatur
                        </th>

                        <th>
                            Höchsttemperatur
                        </th>

                        <th>
                            Niederschlag
                        </th>

                        <th>
                            Zähler
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for stat in statList %}
                        <tr>
                            <td>
                                {{ stat.date|date('d.m.Y') }}
                            </td>

                            <td>
                                {{ stat.minTemperature }} °C
                            </td>

                            <td>
                                {{ stat.maxTemperature }} °C
                            </td>

                            <td>
                                {{ stat.rain }} mm
                            </td>

                            <td>
                                {{ stat.sum }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
